.single-row {
  margin: auto !important;
}

.card-container {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;


}
.card-img{
  height: 40%;
}
.ourservice {
  padding-top: 7%;
  padding-bottom: 5%;

}
.description {
  text-align: left;
}
.card-description {
  height: 6rem;
  text-overflow: ellipsis;
  overflow: hidden;
}


